/*
  Copyright 2020 © Idess Lee
*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 15vh;
}

label {
    display: block;
    margin-bottom: 1em;
}

textarea {
    resize: none;
    border: none;
    padding: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

textarea:focus {
    border: none;
    outline: none;
}

.question {
    padding: 3em;
}

#submit {
    text-align: center;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: initial;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 4px solid transparent;
    background-clip: content-box;
}